[submodule "dotfiles/.config/nvim/bundle/codi.vim"]
	path = dotfiles/.config/nvim/bundle/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
[submodule "dotfiles/.config/nvim/bundle/deoplete-clang"]
	path = dotfiles/.config/nvim/bundle/deoplete-clang
	url = https://github.com/deoplete-plugins/deoplete-clang.git
[submodule "dotfiles/.config/nvim/bundle/nerdtree"]
	path = dotfiles/.config/nvim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "dotfiles/.config/nvim/bundle/nvim-typescript"]
	path = dotfiles/.config/nvim/bundle/nvim-typescript
	url = https://github.com/mhartington/nvim-typescript.git
[submodule "dotfiles/.config/nvim/bundle/syntastic"]
	path = dotfiles/.config/nvim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "dotfiles/.config/nvim/bundle/tlib_vim"]
	path = dotfiles/.config/nvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotfiles/.config/nvim/bundle/typescript-vim"]
	path = dotfiles/.config/nvim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "dotfiles/.config/nvim/bundle/vim-easygrep"]
	path = dotfiles/.config/nvim/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "dotfiles/.config/nvim/bundle/vim-fugitive"]
	path = dotfiles/.config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.config/nvim/bundle/vim-php-manual"]
	path = dotfiles/.config/nvim/bundle/vim-php-manual
	url = https://github.com/alvan/vim-php-manual.git
[submodule "dotfiles/.config/nvim/bundle/vim-python-pep8-indent"]
	path = dotfiles/.config/nvim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "dotfiles/.config/nvim/bundle/vim-repeat"]
	path = dotfiles/.config/nvim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotfiles/.config/nvim/bundle/vim-slumlord"]
	path = dotfiles/.config/nvim/bundle/vim-slumlord
	url = https://github.com/scrooloose/vim-slumlord.git
[submodule "dotfiles/.config/nvim/bundle/deoplete-jedi"]
	path = dotfiles/.config/nvim/bundle/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi.git
[submodule "dotfiles/.config/nvim/bundle/vim-gutentags"]
	path = dotfiles/.config/nvim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "dotfiles/.config/nvim/bundle/deoplete.nvim"]
	path = dotfiles/.config/nvim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "dotfiles/.config/nvim/bundle/deoplete-padawan"]
	path = dotfiles/.config/nvim/bundle/deoplete-padawan
	url = https://github.com/padawan-php/deoplete-padawan.git
[submodule "dotfiles/.config/nvim/bundle/deoplete-ternjs"]
	path = dotfiles/.config/nvim/bundle/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs.git
[submodule "dotfiles/.config/nvim/bundle/fzf.vim"]
	path = dotfiles/.config/nvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "dotfiles/.config/nvim/bundle/vim-javascript-syntax"]
	path = dotfiles/.config/nvim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "dotfiles/.config/nvim/bundle/neco-vim"]
	path = dotfiles/.config/nvim/bundle/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule "dotfiles/.config/nvim/bundle/suda.vim"]
	path = dotfiles/.config/nvim/bundle/suda.vim
	url = https://github.com/lambdalisue/suda.vim.git
[submodule "dotfiles/.config/nvim/bundle/vim-surround"]
	path = dotfiles/.config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/.config/nvim/bundle/unite.vim"]
	path = dotfiles/.config/nvim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "dotfiles/.config/nvim/bundle/vim-addon-mw-utils"]
	path = dotfiles/.config/nvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotfiles/.config/nvim/bundle/vim-visual-star-search"]
	path = dotfiles/.config/nvim/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "dotfiles/.config/nvim/bundle/vimproc.vim"]
	path = dotfiles/.config/nvim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "dotfiles/.oh-my-zsh"]
	path = dotfiles/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dotfiles/.config/nvim/bundle/vim-yadi"]
	path = dotfiles/.config/nvim/bundle/vim-yadi
	url = https://github.com/timakro/vim-yadi.git
[submodule "dotfiles/.config/nvim/bundle/fzf"]
	path = dotfiles/.config/nvim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dotfiles/.config/nvim/bundle/minimap.vim"]
	path = dotfiles/.config/nvim/bundle/minimap.vim
	url = https://github.com/wfxr/minimap.vim.git
[submodule "dotfiles/.config/nvim/bundle/nightfox.nvim"]
	path = dotfiles/.config/nvim/bundle/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim.git
[submodule "dotfiles/.config/nvim/bundle/lualine.nvim"]
	path = dotfiles/.config/nvim/bundle/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "dotfiles/.config/nvim/bundle/nvim-treesitter"]
	path = dotfiles/.config/nvim/bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "dotfiles/.config/nvim/bundle/telescope.nvim"]
	path = dotfiles/.config/nvim/bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "dotfiles/.config/nvim/bundle/plenary.nvim"]
	path = dotfiles/.config/nvim/bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "dotfiles/.config/nvim/bundle/nvim-cmp"]
	path = dotfiles/.config/nvim/bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "dotfiles/.config/nvim/bundle/cmp-nvim-lsp"]
	path = dotfiles/.config/nvim/bundle/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "dotfiles/.config/nvim/bundle/cmp-cmdline"]
	path = dotfiles/.config/nvim/bundle/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "dotfiles/.config/nvim/bundle/cmp-git"]
	path = dotfiles/.config/nvim/bundle/cmp-git
	url = https://github.com/petertriho/cmp-git.git
[submodule "dotfiles/.config/nvim/bundle/nvim-lspconfig"]
	path = dotfiles/.config/nvim/bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "dotfiles/.config/nvim/bundle/ansible-vim"]
	path = dotfiles/.config/nvim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "dotfiles/.config/nvim/bundle/copilot.vim"]
	path = dotfiles/.config/nvim/bundle/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "dotfiles/.config/nvim/bundle/nvim-treesitter-context"]
	path = dotfiles/.config/nvim/bundle/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
[submodule "dotfiles/.config/nvim/bundle/vim-floaterm"]
	path = dotfiles/.config/nvim/bundle/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "dotfiles/.config/nvim/bundle/color-picker.nvim"]
	path = dotfiles/.config/nvim/bundle/color-picker.nvim
	url = https://github.com/ziontee113/color-picker.nvim.git
[submodule "dotfiles/.config/nvim/bundle/neoformat"]
	path = dotfiles/.config/nvim/bundle/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "dotfiles/.config/nvim/bundle/telescope-smart-history.nvim"]
	path = dotfiles/.config/nvim/bundle/telescope-smart-history.nvim
	url = https://github.com/nvim-telescope/telescope-smart-history.nvim.git
[submodule "dotfiles/.config/nvim/bundle/leap.nvim"]
	path = dotfiles/.config/nvim/bundle/leap.nvim
	url = https://github.com/ggandor/leap.nvim.git
[submodule "dotfiles/tools/exploitdb"]
	path = dotfiles/tools/exploitdb
	url = https://gitlab.com/exploit-database/exploitdb
[submodule "dotfiles/.config/nvim/bundle/nvim-dap-ui"]
	path = dotfiles/.config/nvim/bundle/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "dotfiles/.config/nvim/bundle/nvim-dap"]
	path = dotfiles/.config/nvim/bundle/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "dotfiles/.config/nvim/bundle/nvim-dap-python"]
	path = dotfiles/.config/nvim/bundle/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python.git
[submodule "dotfiles/.config/nvim/bundle/nvim-dap-go"]
	path = dotfiles/.config/nvim/bundle/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go.git
[submodule "dotfiles/.config/nvim/bundle/telescope-dap.nvim"]
	path = dotfiles/.config/nvim/bundle/telescope-dap.nvim
	url = https://github.com/nvim-telescope/telescope-dap.nvim.git
[submodule "dotfiles/.config/nvim/bundle/nvim-dap-projects"]
	path = dotfiles/.config/nvim/bundle/nvim-dap-projects
	url = https://github.com/ldelossa/nvim-dap-projects.git
[submodule "dotfiles/.config/nvim/bundle/nvim-dap-virtual-text"]
	path = dotfiles/.config/nvim/bundle/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text.git
[submodule "dotfiles/.config/nvim/bundle/telescope-github.nvim"]
	path = dotfiles/.config/nvim/bundle/telescope-github.nvim
	url = https://github.com/nvim-telescope/telescope-github.nvim.git
[submodule "dotfiles/.config/nvim/bundle/LuaSnip"]
	path = dotfiles/.config/nvim/bundle/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "dotfiles/.config/nvim/bundle/cmp_luasnip"]
	path = dotfiles/.config/nvim/bundle/cmp_luasnip
	url = https://github.com/saadparwaiz1/cmp_luasnip.git
[submodule "dotfiles/.config/nvim/bundle/keyseer.nvim"]
	path = dotfiles/.config/nvim/bundle/keyseer.nvim
	url = https://github.com/jokajak/keyseer.nvim.git
